<!DOCTYPE HTML>
<html lang="en">
<head> 
    <link rel="stylesheet" href="/css/schedulestyle.css">
    <title>Add an Employee</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>
    <div class="buttons">
        <a class="button" href="/schedule/weekly">Weekly Schedule</a>
        <a class="button" href="/schedule/employee">Your Schedule</a>
        <a class="button" href="/manager/employee/edit">Edit Employees</a>
        <a class="button" href="/manager/employee/delete">Delete Employees</a>
        <a class="button" href="/manager/employee/add">Add an Employee</a>
        <a class="button" href="/manager/schedule/edit">Edit Schedule</a>
    </div>
    <div class="signout">
        <form th:action="@{/logout}" method="post">
            <input class="signout" type="submit" value="Sign Out"/>
        </form>
    </div>
</header>

<body>
    <p>Create a new employee</p>
    <form action="/manager/employee/add" th:action="@{/manager/employee/add}" method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Ian" minlength="2" required><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" placeholder="Falk" minlength="2" required><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass" minlength="2" required><br>
        <label for="role">Role:</label><br>
        <select name="role" id="role">
            <option th:each="option : ${roles}" th:value="${option}" th:text="${option}"></option>
        </select><br><br>
        <button type="submit">Submit</button><br><br>
    </form>
</body>
</html>