<!DOCTYPE HTML>
<html lang="en">
<head> 
    <title>Schedule Landing Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <button onclick="location.href='/schedule/weekly';">Weekly Schedule</button>
    <button onclick="location.href='/schedule/employee';">Your Schedule</button>
</head>
<body>
    <p>Create a new employee</p>
    <form action="/manager/employee/add/data">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass"><br>
        <label for="role">Role:</label><br>
        <select name="role" id="role">
            <option value="EMPLOYEE">Employee</option>
            <option value="MANAGER">Manager</option>
        </select><br><br>
        <input type="submit" value="Submit"><br><br>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>