<!DOCTYPE HTML>
<html lang="en">
<head> 
    <title>Schedule Landing Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <button onclick="location.href='/schedule/weekly';">Weekly Schedule</button>
    <button onclick="location.href='/schedule/employee';">Your Schedule</button>
</head>
<body>
    <p>Delete an employee</p>
    <form action="/manager/employee/delete/data">
        <select name="deleteEmp" id="deleteEmp">
            <tr th:each="employee: ${employees}">
                <option th:value="${employee.getId()}" th:text="${employee.getFullName()}"></option>
            </tr>
        </select><br><br>
        <input type="submit" value="Delete"><br><br>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>