<!DOCTYPE HTML>
<html lang="en">
<head> 
    <link rel="stylesheet" href="/css/schedulestyle.css">
    <title>Edit an Employee</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>
    <div class="buttons">
        <a class="button" href="/schedule/weekly">Weekly Schedule</a>
        <a class="button" href="/schedule/employee">Your Schedule</a>
        <a class="button" href="/manager/employee/edit">Edit Employees</a>
        <a class="button" href="/manager/employee/delete">Delete Employees</a>
        <a class="button" href="/manager/employee/add">Add an Employee</a>
        <a class="button" href="/manager/schedule/edit">Edit Schedule</a>
    </div>
    <div class="signout">
        <form th:action="@{/logout}" method="post">
            <input class="signout" type="submit" value="Sign Out"/>
        </form>
    </div>
</header>

<body>
    <p>Edit an employee</p>
    <form action="/manager/employee/edit/select">
        <select name="editEmp" id="editEmp" required autofocus>
            <tr th:each="employee: ${employees}">
                <option th:value="${employee.getId()}" th:text="${employee.getFullName()}"></option>
            </tr>
        </select><br><br>
        <button type="submit">Edit</button><br><br>
    </form>
    
</body>
</html>