<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/schedulestyle.css">
    <title>Your Schedule</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>
    <div class="buttons">
        <a class="button" href="/schedule/weekly">Weekly Schedule</a>
        <a class="button" href="/schedule/employee">Your Schedule</a>
    </div>
    <div class="signout">
        <form th:action="@{/logout}" method="post">
            <input class="signout" type="submit" value="Sign Out"/>
        </form>
    </div>
</header>

<body>
    <h1 th:text="${employee.getFullName()}"></h1>
    <table>
        <tbody>
            <tr th:each="shifts, state: ${shifts}">
                <th scope="col" th:text="${shifts.getDate()}"></th>
                <th scope="col" th:text="${shifts.getDate().getDayOfWeek()}"></th>
                <td th:text="${shifts.getShift()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>