<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/schedulestyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Features</title>
</head>

<header>
    <div class="buttons">
        <a class="button" href="/schedule/weekly">Weekly Schedule</a>
        <a class="button" href="/schedule/employee">Your Schedule</a>
        <a class="button" href="/manager/employee/edit">Edit Employees</a>
        <a class="button" href="/manager/employee/delete">Delete Employees</a>
        <a class="button" href="/manager/employee/add">Add an Employee</a>
    </div>
    <div class="signout">
        <form th:action="@{/logout}" method="post">
            <input class="signout" type="submit" value="Sign Out"/>
        </form>
    </div>
</header>

<body>

</body>
</html>